<a href="https://colab.research.google.com/github/JulinkG/Modelos_supervisados_y_nosupervisados/blob/main/ModeloS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Comentarios generales

* Comenta tu c√≥digo

In [8]:
from google.colab import drive
drive.mount("/content/drive/")

Mounted at /content/drive/

In [25]:
import pandas as pd
import numpy as np

In [19]:
# Read data
dtt = pd.read_parquet('/content/drive/MyDrive/train.parquet')

In [11]:
# Important columns
dtt=dtt[['region','price','type','sqfeet','beds','baths','cats_allowed','dogs_allowed','smoking_allowed','wheelchair_access','electric_vehicle_charge','comes_furnished','laundry_options','parking_options','lat','long']]

In [12]:
dtt.dtypes

region                      object
price                        int64
type                        object
sqfeet                       int64
beds                         int64
baths                      float64
cats_allowed                 int64
dogs_allowed                 int64
smoking_allowed              int64
wheelchair_access            int64
electric_vehicle_charge      int64
comes_furnished              int64
laundry_options             object
parking_options             object
lat                        float64
long                       float64
dtype: object

In [20]:
# Create a categorical value for different levels of pricing
category_prices = []

for i in dtt['price']:
  if i <= 999:
    category_prices.append('low')
  elif 1999 >= i >=1000:
    category_prices.append('medium')
  else:
    category_prices.append('high')

In [21]:
dtt['category_prices'] = category_prices

In [22]:
dtt.head(5)

,id,url,region,region_url,price,type,sqfeet,beds,baths,cats_allowed,...,electric_vehicle_charge,comes_furnished,laundry_options,parking_options,image_url,description,lat,long,state,category_prices
0,7048013474,https://boise.craigslist.org/apa/d/very-nice-b...,boise,https://boise.craigslist.org,1350,house,1200,2,2.0,1,...,0,0,w/d in unit,detached garage,https://images.craigslist.org/00B0B_cPiJMEheZe...,Super cute row house in the Boise bench area. ...,43.5851,-116.2250,id,medium
1,7043931179,https://cosprings.craigslist.org/apa/d/colorad...,colorado springs,https://cosprings.craigslist.org,1115,apartment,694,1,1.0,1,...,0,0,w/d in unit,carport,https://images.craigslist.org/00R0R_5XAoSKvfrz...,Windtree Apartment Homes currently has a spaci...,38.9137,-104.7800,co,medium
2,7048254516,https://norfolk.craigslist.org/apa/d/virginia-...,norfolk / hampton roads,https://norfolk.craigslist.org,1129,apartment,900,2,2.0,0,...,0,0,w/d hookups,off-street parking,https://images.craigslist.org/00f0f_3ZbTFrsHpZ...,Call Today! show contact info Indian Lakes ...,36.7922,-76.1643,va,medium
3,7041032577,https://phoenix.craigslist.org/nph/apa/d/phoen...,phoenix,https://phoenix.craigslist.org,1580,house,1469,3,2.0,1,...,0,0,w/d in unit,None,https://images.craigslist.org/00f0f_aXV5Dkd5qk...,Cody Anderson Two Brothers Realty License #: S...,33.5623,-112.0560,az,medium
4,7048588701,https://nashville.craigslist.org/apa/d/antioch...,nashville,https://nashville.craigslist.org,995,apartment,700,1,1.0,1,...,0,0,w/d in unit,carport,https://images.craigslist.org/00606_gYOGKClOHv...,To schedule a tour We now book our tour appoin...,36.0595,-86.6592,tn,low

0         2
1         2
2         2
3         2
4         1
         ..
346474    1
346475    3
346476    2
346477    1
346478    2
Name: category_prices, Length: 346479, dtype: int64



get_dummies = pd.get_dummies() -> DataFrame mxn n renglones corresponden a tus n renglones del dataframe original

pd.concat(dtt, get_dummies)

$y = mx+b$

In [67]:
#Primer paso: convertimos todas las variables categoricas a num√©ricas, quitando la columna precios y a√±adiendo variables dummies
dtt_fin=dtt[['region','type','sqfeet','beds','baths','cats_allowed','dogs_allowed','smoking_allowed','wheelchair_access','electric_vehicle_charge','comes_furnished','category_prices']]
dtt_fin['category_prices'].replace(['low', 'medium', 'high'], [1,2,3])

0         2
1         2
2         2
3         2
4         1
         ..
346474    1
346475    3
346476    2
346477    1
346478    2
Name: category_prices, Length: 346479, dtype: int64

In [69]:
pd_dummies=pd.get_dummies(dtt_fin,columns=['region','type'])

In [70]:
y=pd_dummies['category_prices']

In [71]:
pd_final=pd_dummies.drop(['category_prices'], axis=1)

In [72]:
pd_dummies.head(5)

,sqfeet,beds,baths,cats_allowed,dogs_allowed,smoking_allowed,wheelchair_access,electric_vehicle_charge,comes_furnished,category_prices,...,type_condo,type_cottage/cabin,type_duplex,type_flat,type_house,type_in-law,type_land,type_loft,type_manufactured,type_townhouse
0,1200,2,2.0,1,1,1,0,0,0,medium,...,0,0,0,0,1,0,0,0,0,0
1,694,1,1.0,1,1,1,0,0,0,medium,...,0,0,0,0,0,0,0,0,0,0
2,900,2,2.0,0,0,1,0,0,0,medium,...,0,0,0,0,0,0,0,0,0,0
3,1469,3,2.0,1,1,1,0,0,0,medium,...,0,0,0,0,1,0,0,0,0,0
4,700,1,1.0,1,1,1,0,0,0,low,...,0,0,0,0,0,0,0,0,0,0

In [29]:
from sklearn.model_selection import train_test_split

In [74]:
X_train, X_test, y_train, y_test = train_test_split(pd_final,y,test_size=0.3,random_state=8,shuffle=True)

In [40]:
from sklearn.linear_model import LogisticRegression

In [41]:
lr = LogisticRegression()

In [75]:
lr.fit(X_train, y_train)

LogisticRegression()

In [ ]:
# Modelos de clasificaci√≥n


# Regresi√≥n log√≠stica
# Modelos de √°rboles
# Xgboost 
# Redes neuronales
# Support Vector Machines
# Redes neuronales convolusionales

lr.predict(X_test).shape

(3000,)

In [76]:
lr.predict(X_test)

array(['medium', 'low', 'low', ..., 'low', 'low', 'low'], dtype=object)